@font-face {
  font-family: "Proxima Nova";
  src: url("/proximaNova/proximanova_regular.ttf") format("truetype");
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/proximaNova/proximanova_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: black;
}

img {
  display: block;
}
